/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: transparent;
    position: relative;
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    background-image: url("https://7trees.cn/zyImg/test/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    filter: grayscale(55%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#btn_other_div2 {
    display: none;
}

/* Flex Container Styles */
.flex-container {
    padding-top: 110px;
    display: flex;
    margin-left: 100px;
}

/* Song Button Styles */
.songBtn button {
    margin-top: 55px;
    margin-left: 22px;
    background: linear-gradient(135deg, #ff375a, #ffa62b);
    color: #fff;
    border: none;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s;
}

.songBtn button:hover {
    background: linear-gradient(135deg, #ff375a, #ff5e78);
}

/* Song Styles */
.song {
    margin-top: 30px;
    background-color: white;
    border: 20px solid #242424;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
    width: 40%;
    height: auto;
    text-align: center;
}

.song img {
    border-radius: 50%;
    width: 100%;
    max-width: 550px;
}

.song_title {
    margin-left: 155px;
    color: #ff375a;
}

.song_artist {
    margin-left: 180px;
    margin-bottom: 160px;
    color: #ff5e78;
    font-style: italic;
}

/* Lyrics Div Styles */
.lrc_div {
    width: 40%;
    margin-top: 75px;
    margin-left: -50px;
    height: 325px;
    overflow-y: scroll;
}

/* Other Div Styles */
.other_div {
    width: 30%;
    padding: 8px;
    max-width: 60vh;
    overflow-y: scroll;
}

.other_div li {
    background: indigo;
    font-size: 12px;
    width: 100%;
}

.other_div a:hover {
    text-decoration: none;
}

/* Player Styles */
.player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    background: transparent;
    border-radius: 10px;
}

.player audio {
    width: 75%;
    outline: none;
}

.player audio::-webkit-media-controls-panel {
    background-color: #ff5e78;
}

.player audio::-webkit-media-controls-play-button,
.player audio::-webkit-media-controls-pause-button {
    color: darkslateblue;
    background: url('https://7trees.cn/zyImg/qks2862/play.png') no-repeat 0 0;
}

.player audio::-webkit-media-controls-timeline {
    background: linear-gradient(to right, transparent 0%, burlywood 30%);
    border-radius: 70px;
}

.player audio::-webkit-media-controls-current-time-display,
.player audio::-webkit-media-controls-time-remaining-display {
    color: black;
    font-size: 14px;
}

.player audio::-webkit-media-controls-volume-slider,
.player audio::-webkit-media-controls-mute-button {
    display: none;
}

.func_visable {
    margin-top: 10px;
    margin-left: 110px;
}

.func_visable button {
    margin-top: 10px;
    font-size: 22px;
    border: transparent;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }

    .lrc_div {
        max-height: 135px;
    }

    #btn_other_div {
        display: None;
        visibility: visible;
    }

    .player audio {
        width: 100%;
    }

    #btn_other_div2 {
        border-radius: 100%;
        background: #ff5e78;
        visibility: visible;
        width: 5%;
    }

    .cr, .lrc_div, .other_div {
        width: 100%;
    }
}
